<script>
    $(document).ready(function () {
          try {
              $(".display").DataTable({
                dom: '<""<"row"<"col"l><"col"B><"col"f>>>rtip',
                "processing": true,
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                },
                "serverSide": true,
                "searchable": true,
                "filter": true,
                "ajax": {
                    "url": "@ViewBag.PageURL/Listener",
                    "type": "post",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                }],
                "columns":  [
                    @Html.Raw(ViewBag.DataTableColumns)
                ],
                "fnCreatedRow":  function (nRow, aData, iDataIndex) {
                      @if (ViewBag.DataTableActionColumn != null)
                      {
                        @:var ActionHTML = "<div class='demo-nifty-btn'>";
                        if (ViewBag.AllowEditing != null)
                        {
                             @:ActionHTML += "<a href='@ViewBag.PageURL/view?id=" + aData.Id + "' class='btn btn-primary btn-xs'><i class='fa fa-eye'></i></a>";
                        }
                        if (ViewBag.AllowEditing != null)
                        {
                            @:ActionHTML += "<a href='@ViewBag.PageURL/edit?id=" + aData.Id + "' class='btn btn-primary btn-xs ml-1'><i class='fa fa-edit'></i></a>";
                        }
                        if(ViewBag.AllowDeleting != null) {
                            @:ActionHTML += "<a data-href='@ViewBag.PageURL/delete/' data-id='" + aData.Id + "' class='btn btn-danger btn-xs remove-row ml-1'><i class='fa fa-trash'></i></a>";
                        }
                        @:ActionHTML += "</div>";
                        @:$('td:eq(@ViewBag.DataTableActionColumn)', nRow).html(ActionHTML);
                    }
                },
                "lengthMenu": [[10, 25, 50, 75, 100, 150, 200, 250, 300, 400, 500, 1000, 1500, 2000, 3000, 4000, 5000], [10,25, 50, 75, 100, 150, 200, 250, 300, 400, 500, 1000, 1500, 2000, 3000, 4000, 5000]]
              });
            @if(ViewBag.AllowAdding != null)
            {
                @:$("#DataTables_Table_0_length").append('<a class="btn btn-primary ml-1" id="btnAdd" href="@ViewBag.PageURL/add">Add New</a>');
            }
        }
        catch (e) {
            console.log(e);
        }

    })

</script>