@using System.Security.Claims
@model Orders
@using static MrDigitizerV2.Helpers.ApplicationHelper


@{
    ViewBag.AllowDownloading = true;
    ViewData["Title"] = "Create Order";
    string DataTableColumns = "{ \"data\": \"Id\",\"searchable\": false,\"bSortable\": true,\"bVisible\": false},{ \"data\": \"FileName\"},{ \"data\": \"Extension\"},{ \"data\": \"UploadedBy\"},{ \"data\": \"CreatedDateTimeString\"}";

    if (ViewBag.AllowAdding != null || ViewBag.AllowEditing != null || ViewBag.AllowDeleting != null || ViewBag.AllowViewing != null)
    {
        ViewBag.DataTableActionColumn = "4";
        DataTableColumns += ",{ \"data\": \"Id\",\"searchable\": false,\"bSortable\": false}";
    }


    ViewBag.DataTableColumns = DataTableColumns;
}
@section LinkStyleSection{
  
    <environment>
        <link rel="stylesheet" type="text/css" href="~/css/dataTables.bootstrap.css">
        <link rel="stylesheet" type="text/css" href="~/css/responsive.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
       <style>
           .vector, .digitizing{
               display:none;
           }
       </style>
    </environment>
}
    @section LinkScriptSection{
    <environment>
        <script src="~/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.25/api/fnStandingRedraw.js"></script>
    </environment>
}
    @section InLineScriptSection{
    <script type="text/javascript">
        @if (ViewBag.PageType == EnumPageType.View)
        {
            @:DisableView();
        }
        @if(Model.Id != Guid.Empty){
             @:setOrderType($("#OrderType"));
        }
         $("#OrderType").change(function () {
            setOrderType($(this));
        })
        function setOrderType(dropdown){
                if (dropdown.val() == '@EnumOrderType.Digitizing') {                    
                $(".digitizing").show();
                $(".vector").hide();
            }
                else if (dropdown.val() == '@EnumOrderType.Vector') {
                $(".vector").show();
                $(".digitizing").hide();                    
            }
            getFormats($("#Format"), dropdown.val());
        }
        function getFormats(dropdown, value){
            $.get('@ViewBag.WebsiteURL' + 'dashboard/getformats?type=' + value, function(response) {
                dropdown.html('');
                dropdown.append(`<option value=''>-Select Format-</option>`);
                    if(response.length > 0) {
                        $.each(response, function(index, record) {
                        dropdown.append(`<option value='${record.Title}'>${record.Title}</option>`);
                    });
                  }
                  @if(Model.Id != Guid.Empty){
                      @:dropdown.val('@Model.Format');
                  }
            })
        }
    </script>

    @if(ViewBag.PageType != EnumPageType.Add){
          @await Html.PartialAsync("JScript_Child", Model.Id)
       }
}

    @await Html.PartialAsync("BreadCrumb")

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <form asp-area="Admin" asp-controller="orders" asp-action="save" id="FormLogin" class="p-5" autocomplete="off"
                      data-ajax-begin="OnFormBegin" data-ajax-complete="OnFormComplete"
                      data-ajax-failure="OnFormFailure" data-ajax-success="OnFormSuccess"
                      data-ajax="true" data-ajax-method="POST" enctype="multipart/form-data">
                        <input asp-for="Id" type="hidden" />
                        <input asp-for="UserId" hidden />
                        <input asp-for="CreatedDateTime" hidden />
                        <input asp-for="CreatedBy" hidden />
                        <div class="row">
                             <div class="col-md-6 form-group mb-3">
                            <span>Order type <span class="text-danger font-weight-bold">*</span> <span asp-validation-for="OrderType" class="text-danger"></span></span>
                                <select class="form-control" asp-for="OrderType">
                                        <option value="">-Select Order type-</option>
                                        <option value="@EnumOrderType.Digitizing">@EnumOrderType.Digitizing</option>
                                        <option value="@EnumOrderType.Vector">@EnumOrderType.Vector</option>
                                </select>
                            </div>
                             <div class="col-md-6 form-group mb-3">
                                <span>Design name <span class="text-danger font-weight-bold">*</span> <span asp-validation-for="DesignName" class="text-danger"></span></span>
                                <input type="text" class="form-control" asp-for="DesignName" />
                            </div>
                             <div class="col-md-6 form-group mb-3">
                               <span>Format <span class="text-danger font-weight-bold">*</span> <span asp-validation-for="Format" class="text-danger"></span></span>
                                <select class="form-control" asp-for="Format">
                                    <option value="">-Select Format-</option>
                                </select>
                            </div>
                             <div class="col-md-6 form-group mb-3">
                                <span>No of colors <span class="text-danger font-weight-bold">*</span> <span asp-validation-for="NoOfColors" class="text-danger"></span></span>
                                <input type="number" class="form-control" asp-for="NoOfColors" />
                            </div>
                             <div class="col-md-6 form-group mb-3 vector">
                                <span>Color type <span class="text-danger font-weight-bold">*</span> <span asp-validation-for="ColorType" class="text-danger"></span></span>
                               <select class="form-control" asp-for="ColorType">
                                <option value="">-Select Color Type-</option>
                                <option value="PMS">PMS</option>
                                <option value="RGB">RGB</option>
                                <option value="CMYK">CMYK</option>
                            </select>
                            </div>
                            <div class="col-md-6 form-group mb-3 digitizing">
                                <span>Fabric <span class="text-danger font-weight-bold">*</span> <span asp-validation-for="Fabric" class="text-danger"></span></span>
                                <select class="form-control valid" asp-for="Fabric">
                                    <option value="">-Select Fabric-</option>
                                    <option value="Apron">Apron</option>
                                    <option value="Blanket">Blanket</option>
                                    <option value="Canvas">Canvas</option>
                                    <option value="Cotton Woven">Cotton Woven</option>
                                    <option value="Chenille">Chenille</option>
                                    <option value="Denim">Denim</option>
                                    <option value="Felt">Felt</option>
                                    <option value="Fleece">Fleece</option>
                                    <option value="Flannel">Flannel</option>
                                    <option value="Pique">Pique</option>
                                    <option value="Single Jersey">Single Jersey</option>
                                    <option value="Silk">Silk</option>
                                    <option value="Polyester">Polyester</option>
                                    <option value="knit sweater">knit sweater</option>
                                    <option value="Twill">Twill</option>
                                    <option value="Towel">Towel</option>
                                    <option value="Leather">Leather</option>
                                    <option value="Nylon">Nylon</option>
                                    <option value="polar fleece">polar fleece</option>
                                    <option value="Mesh knit">Mesh knit</option>
                                    <option value="Beanie">Beanie</option>
                                    <option value="Stretchy polyester / light Knit Fabric">Stretchy polyester / light Knit Fabric</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group mb-3 digitizing">
                                <span>Placement <span class="text-danger font-weight-bold">*</span> <span asp-validation-for="Placement" class="text-danger"></span></span>
                                <select class="form-control valid" asp-for="Placement">
                                    <option value="">-Select Placement-</option>
                                    <option value="Bags">Bags</option>
                                    <option value="Cap">Cap</option>
                                    <option value="Chest">Chest</option>
                                    <option value="Gloves">Gloves</option>
                                    <option value="Cap Side">Cap Side</option>
                                    <option value="Cap Back">Cap Back</option>
                                    <option value="Towel">Towel</option>
                                    <option value="JacketBack">JacketBack</option>
                                    <option value="Sleeve">Sleeve</option>
                                    <option value="Patches">Patches</option>
                                    <option value="Visor ">Visor </option>
                                    <option value="Table Cloth">Table Cloth</option>
                                    <option value="Beanie Caps">Beanie Caps</option>
                                    <option value="Apron">Apron</option>
                                    <option value="other">other</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group mb-3 digitizing">
                                <span>Height <span class="text-danger font-weight-bold">*</span> <span asp-validation-for="Height" class="text-danger"></span></span>
                                <input type="text" class="form-control" asp-for="Height"/>
                            </div>
                            <div class="col-md-6 form-group mb-3 digitizing">
                                <span>Width <span class="text-danger font-weight-bold">*</span> <span asp-validation-for="Width" class="text-danger"></span></span>
                                <input type="text" class="form-control" asp-for="Width" />
                            </div>
                                                     
                            <div class="col-md-12 form-group mb-6">
                                <span>Special Instruction <span class="text-danger font-weight-bold">*</span> <span asp-validation-for="Description" class="text-danger"></span></span>
                                <textarea class="form-control" asp-for="Description" rows="6" cols="6"></textarea>
                            </div>
                            
                            <div class="@(User.FindFirstValue("RoleName").ToLower() == EnumRoleTypes.Admin ? "col-md-6" : "col-md-12") form-group mb-3">
                                <span>Files (can be multiple) <span class="text-danger font-weight-bold">*</span> </span><br />
                                <input type="file" asp-for="Files" multiple />
                            </div>
                            @if(User.FindFirstValue("RoleName").ToLower() == EnumRoleTypes.Admin) {
                                <div class="col-md-6 form-group mb-3">
                                    <span>Designer <span class="text-danger font-weight-bold">*</span> <span asp-validation-for="DeisgnerId" class="text-danger"></span></span>
                                    <select class="form-control" asp-for="DeisgnerId">
                                        <option value="">-Select Designer-</option>
                                        @foreach (var item in ViewBag.Designers)
                                        {
                                            <option value="@item.Id">@item.Fullname</option>
                                        }
                                      
                                    </select>
                                </div>
                            }
                            else{
                                <input type="hidden" asp-for="DeisgnerId">
                            }
                    </div>
                    <br clear="all" />
                    <div class="form-group text-right">
                        <button class="btn btn-info" type="submit" id="submitForm">Save</button>
                        <a class="btn btn-secondary" href="@ViewBag.PageURL">Back</a>
                    </div>
                </form>
                @if(ViewBag.PageType != EnumPageType.Add){
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="display">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>File name</th>
                                            <th>Extension</th>
                                            <th>Uploaded By</th>
                                            <th>Uploaded Date</th>
                                            @if (ViewBag.DataTableActionColumn != null)
                                            {
                                                <th data-priority="2">Actions</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>

</div><!-- end of main-content -->